

.header{
    background-color: #F4F9E2;
    position: relative;
    overflow-x: hidden;

    &::after{
        content: "";
        display: block;
        background-image: url(./../images/mask_group.svg);
        background-size: 743px 824px;
        width: 743px;
        height:  824px;
        position: absolute;
        top: 0%;
        right: 0%;
    }
    
    .container {
        height: 840px;
        padding-top: 27px;
        box-sizing: border-box;
    }
    
    &__top{
        display: grid;
        grid-template-columns: 105px 239px 150px;
        column-gap: 270px;
        align-items: center;
    }

    &__contact{
        &-button{
            background: #62D0DF;
            border: none;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            @include text(14px, 16px, $textColorLight);
            display: flex;
            align-items: center;
            text-transform: uppercase;
            max-width: 150px;
            max-height: 50px;
            padding: 20px 30px;
            cursor: pointer;
        }
    }

    &__content{
        margin-top: 164px;
        max-width: 484px;

        &-logo{
            margin-bottom: 40px;
        }

        &-title{
            @include text(48px, 53px, $textColor);
            margin-bottom: 40px;
        }

        &-text{
            @include text(24px, 42px, $textColor);
            margin-bottom: 40px;
        }
    }

    
   &__buttons{
        &-one{
            padding: 10px 30px;
            background-color: #F9B640;
            border: none;
            @include text(16px, 23px, $textColorLight);
            cursor: pointer;
            align-items: center;
            margin-right: 40px;
        }

        &-two{
            padding: 10px 0;
            background-color: inherit;
            border: none;
            @include text(16px, 23px, $secondaryColor);
            cursor: pointer;
            letter-spacing: 0.1em;
        }
   }
    
    &__content &__content-button:first-child{
        margin-right: 10px;
    }
}