.menu{
    display: grid;
    justify-content: center;

    &__list{
        @include text(14px, 16px, #22356F);
        max-width: 233px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        &-link{
            padding: 0 5px 10px 5px;
        }

        &-item:hover &-link{
            box-shadow: inset 0px -1px 0px #22356F;
        }
    }
}