// colors

$headerColor: #F4F9E2;
$accentColor: #FAB63E;
$primaryColor: #62D0DF;
$secondaryColor: #F9B640;
$listColor: #E9B730;
$textColor: #22356F;
$textColorLight: #fff;
$linkColor: #006dfe;
$backColorOne: #FFE2DE;
$backColorTwo: #C4E769;
$backColorThree: #0052C1;
$backColorFour: #0052C1;
$backColorFive: #DEE1FF;
$backColorSixth:#8F00FF;

// container
%container{
    width: 1080px;
    margin: 0 auto;
}