// colors

$headerColor: #F4F9E2;
$accentColor: #FC9B09;
$primaryColor: #62D0DF;
$secondaryColor: #c7c7c7;
$listColor: #E9B730;
$textColor: #22356F;
$textColorLight: #fff;
$linkColor: #5286EC;
$backColor: #FAF9F8;

// container
%container{
    padding: 0 15px;

    @media screen and (min-width: 576px) {
        padding: 0 35px;
    }

    @media screen and (min-width: 768px) {
        padding: 0 50px;
    }

    @media screen and (min-width: 1280px) {
        padding: 0;
        width: 1140px;
        margin: 0 auto;
    }
}